{% extends 'base.html' %}
{% load  staticfiles %}

{% block meta_title %}Журнал{% endblock %}
{% block stylesheet %}

{% endblock %}

{% block content %}
    <div class="row" id="count-visits-row">
        <div class="col-xs-12" id="count-visits-xs">
            <div class="alert alert-warning">Some message here</div>
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Облік відвідування</h2></div>
                <div class="panel-body">
                    <div class="text-center">
                        <a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                        </a>
                        November 2016
                        <a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                    <table class="table table-bordered text-center" id="visits-table">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>Student</th>
                            <th>Mn 1</th>
                            <th>Th 2</th>
                            <th>Wd 3</th>
                            <th>Th 4</th>
                            <th>Fr 5</th>
                            <th>St 6</th>
                            <th>Sd 7</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td><a href="{% url 'students_edit' 1 %}">Den Willy</a></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                            <td><input type="checkbox"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% include 'snippets/pagination.html' %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}