{% extends 'base.html' %}
{% load static from staticfiles %}
{% block meta_title %}Групи{% endblock %}

{% block content %}
    <!-- Start students group main block -->
    <div class="row" id="students-group-row">
        <div class="col-xs-12" id="students-group-xs">
            <div class="alert alert-warning">Some message here</div>
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Групи</h2></div>
                <div class="panel-body">
                    <table class="table table-hover table-striped">
                       {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
                        <thead>
                        <tr>
                            <th class="text-primary">№</th>
                            <th>
                             <a href="{% url 'groups_list' %}?order_by=title{% if order_by == 'title' and reverse != '1' %}&amp;reverse=1{% endif %}">
                                       Назва
                                        {% if order_by == 'title' and reverse != '1' %}&uarr;

                                            {% elif order_by == 'title' and reverse == '1' %}&darr;

                                        {% endif %}
                                    </a>
                            </th>
                            <th>
                                 <a href="{% url 'groups_list' %}?order_by=leader{% if order_by == 'leader' and reverse != '1' %}&amp;reverse=1{% endif %}">
                                        Староста
                                        {% if order_by == 'leader' and reverse != '1' %}&uarr;

                                            {% elif order_by == 'leader' and reverse == '1' %}&darr;

                                        {% endif %}
                                    </a>
                            </th>
                            <th class="text-primary">Дії</th>
                        </tr>
                        </thead>
                     {% endwith %}
                        <tbody>
                        {% for key in object_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ key.title }}</td>
                            <td>{{ key.leader }}</td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button"
                                            data-toggle="dropdown">Дія
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="{% url 'groups_edit' 1 %}">Редагувати</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="{% url 'groups_delete' 1 %}">Видалити</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-right">
                        <a href="{% url 'groups_add' %}" class="btn btn-primary">Додати групу</a>
                    </div>
                </div>
            </div>
             <div class="text-center">
                {% include 'snippets/pagination.html' %}
            </div>
        </div>
    </div>
{% endblock %}